@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
  --light-color: #FFF7FC;
  --dark-color: #222831;
  --secondary-color: #8B93FF;
  --accent-color: #5755FE;
  --highlight-color: #FF71CD;
  --transparent-background: rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background: var(--light-color);
  font-family: "Merriweather", serif;
}

#root {
  width: 100%;
  display: flex;
}

.cover-container {
  position: relative;
  background: var(--secondary-color);
  width: 50vw;
  height: 100vh;
}

main {
  width: 50vw;
  height: 100vh;
}

@media (max-width: 1000px) {
  #root {
    flex-direction: column;
  }

  .cover-container {
    width: 100%; 
  }

  main {
    width: 100%;
  }
}
