.cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover img {
    min-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: translate 0.5s ease-in-out;
}

.cover-images-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.cover-name,
.cover-title {
    position: absolute;
    margin: 1rem 2rem;
    color: var(--light-color);
    pointer-events: none;
    transition: opacity 1.5s ease-in-out;
}

.cover-name {
    top: 70vh;
    border: 1px solid var(--light-color);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.cover-title {
    top: 75vh;
    font-size: 3rem;
    letter-spacing: 0.4rem;
}

.cover-navigation {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    color: var(--light-color);
    margin: 0.5rem 0;
}

.cover-navigation * {
    max-width: 18px;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: scale 1s ease-in-out;
}

.cover-navigation svg:hover {
    scale: 1.1;
}

@media (max-width: 700px) {
    .cover-name {
        font-size: 0.8rem;
    }
    
    .cover-title {
        font-size: 2.4rem;
        letter-spacing: 0.4rem;
    }
}
